.top-image {
  height: 400px;
}
.name-body {
  margin-top: 15px;
  margin-bottom: 20px;
}
.dark-card {
  background-color: rgba(#1B1C1D, 1);
  height: 100%;
  color: #f1f1f1;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(168, 168, 168, 0.1);
}
#hero-profile {
  padding: 10px;
  text-align: center;
}
#hero-profile img {
  max-height: 150px;
}
.img-thumbnail-dark {
  border: 0;
}
.ability-box > div {
  padding: 20px;
  text-align: center;
}
h2 {
  color: white;
  padding-bottom: 10px;
}
.bigtext {
  font-size: 5em;
  font-weight: 700;
  color: white;
}
.smalltext {
  color: white;
  font-size: 1em;
}
h3 {
  color: white;
  margin-bottom: 0;
}
.info-big-text {
  color: #FFF;
  text-align: center;
  font-size: 5em;
  padding-top: 50px;
}
.home-icon {
  padding-top: 40px;
  color: #FFF;
  font-size: 2em;
}
.home-icon > a {
  color: #CCC;
}
.home-icon > a:hover {
  color: #FFF;
}
