@import url(https://fonts.googleapis.com/css?family=Roboto:300,700);

body {
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background: rgba(0,0,0,0.4);
}

html {
  background: url(images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sidebar {
  padding: 20px;
}
