<div class="row name-body">
  <div class="col-md-12">
    <h3>Hero Name</h3>
    <form novalidate ng-submit="home.search()">
      <div angucomplete-alt id="search" placeholder="Type hero name here" maxlength="50" pause="100" selected-object="home.searchSelected" local-data="home.herosearch" search-fields="localized_name" title-field="localized_name" minlength="1" input-class="form-control form-control-small"
        match-class="highlight" input-changed="home.searchChanged" ></div>
    </form>
  </div>
</div>
