<div class="row name-body">
  <div class="col-md-12">
      <h1 id="hero-name">{{ herodata.hero.localized_name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4 dark-card">
    <div class="row">
      <div class="col-md-12">
        <div id="hero-profile">
          <img src="http://cdn.dota2.com/apps/dota2/images/heroes/{{ herodata.hero.name | cut_npc_prefix }}_lg.png" class="img-thumbnail-dark" />
        </div>

        <div class="row ability-box">
          <div class="col-md-4">
            <img src="images/strength_icon.png" width="50px" height="50px" /><br/>
            {{ herodata.hero.herostat.BaseStr }} + {{ herodata.hero.herostat.StrGain }}
          </div>
          <div class="col-md-4">
            <img src="images/agility_icon.png" width="50px" height="50px" /><br/>
            {{ herodata.hero.herostat.BaseAgi }} + {{ herodata.hero.herostat.AgiGain }}
          </div>
          <div class="col-md-4">
            <img src="images/intelligence_icon.png" width="50px" height="50px" /><br/>
            {{ herodata.hero.herostat.BaseInt }} + {{ herodata.hero.herostat.IntGain }}
          </div>
        </div>

        <div class="table-responsive">
          <table class="table">
            <tr>
              <td>Primary Stat</td>
              <td>{{ herodata.primary_stat }}</td>
            </tr>
            <tr>
              <td>Type</td>
              <td>{{ herodata.range_type }}</td>
            </tr>
            <tr>
              <td>Movement Speed</td>
              <td>{{ herodata.hero.herostat.Movespeed }}</td>
            </tr>
            <tr>
              <td>Attack Dmg</td>
              <td>{{ herodata.hero.herostat.MinDmg }} - {{ herodata.hero.herostat.MaxDmg }}</td>
            </tr>
          </table>
          <small>Data according to patch {{herodata.hero.herostat.Patch}}, retrieve from herostats.io</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="row" style="padding-bottom: 20px;">
      <div class="col-md-6 align-center">
        <h2>Win / Lose Rate</h2>
        <canvas id="doughnut" class="chart chart-doughnut"
          chart-data="wl_data" chart-labels="wl_labels" chart-colours="wl_colour">
        </canvas>
      </div>

      <div class="col-md-6 align-center">
        <h2>Avg K/D Ratio</h2>
        <p class="bigtext">{{herodata.analytics.kd_ratio.toFixed(2)}}</p>
        <p class="smalltext">Kill: {{herodata.analytics.avg_kills.toFixed(2)}} <br/> Death: {{herodata.analytics.avg_deaths.toFixed(2)}} <br/> Assist: {{herodata.analytics.avg_assists.toFixed(2)}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 align-center">
        <h2>Avg XPM</h2>
        <p class="bigtext">{{herodata.analytics.avg_xp_per_min.toFixed(2)}}</p>
      </div>

      <div class="col-md-6 align-center">
        <h2>Avg GPM</h2>
        <p class="bigtext">{{herodata.analytics.avg_gold_per_min.toFixed(2)}}</p>
      </div>
    </div>
  </div>
</div>
